/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

h1 {
    color: goldenrod;
}

#message-el {
  font-style: italic;
}
