body {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.scoreboard {
  background-color: #1b244a;
  border-radius: 10px;
  width: 575px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 40px 24px;
}

.score {
  background-color: #080001;
  color: #f94f6d;
  font-family: "Cursed Timer ULiL";
  font-size: 90px;
  width: 155px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.home,
.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add-points {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #9aabd8;
  background-color: #1b244a;
  color: #9aabd8;
  font-family: "Cursed Timer ULiL";
  font-size: 18px;
  text-align: center;
}

.add-points:hover {
  cursor: pointer;
}

#reset-ctn {
  display: flex;
  justify-content: center;
  width: 100%;
}

#reset-btn {
  width: 90px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #9aabd8;
  background-color: #1b244a;
  color: #9aabd8;
  font-family: "Cursed Timer ULiL";
  font-size: 18px;
  text-align: center;
}

#reset-btn {
  cursor: pointer;
}

h3 {
  color: #eee;
  text-align: center;
  font-family: Verdana;
  font-size: 40px;
  margin: 0;
  line-height: 1;
}
